.btn{
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	max-height: 40px;
	min-height: 40px;
	padding: .438rem 1rem;
	font-size: 1rem;
	line-height: 1.8;
	border-radius: $border-radius-default;
	font-size: 14px;
	text-decoration: none;
	font-family: 'proximanova-light', sans-serif;
	-webkit-writing-mode: horizontal-tb;

	&:focus,
	&:active,
	&:hover{
		background-color: #FCFCFC;
		background-image: -moz-linear-gradient(77% 3% -90deg, #FCFCFC 0, #FCFCFC 100%);
		background-image: -webkit-gradient(linear, 77% 3%, 77% 109%, color-stop(0, #FCFCFC), color-stop(1, #FCFCFC));
		background-image: -webkit-linear-gradient(-90deg, #FCFCFC 0, #FCFCFC 100%);
		background-image: -o-linear-gradient(-90deg, #FCFCFC 0, #FCFCFC 100%);
		background-image: linear-gradient(to bottom, #FCFCFC 0, #FCFCFC 100%);
		background: -ms-linear-gradient(top, #FCFCFC 1% , #FCFCFC 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		font-size: 14px;
		color: #395A7A;
		text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
		-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(enabled=false)";
		filter: progid:DXImageTransform.Microsoft.dropshadow(enabled=false);
		zoom: 1;
		background-position: 0 0;
		outline: 0;
	}
	&:active{
		box-shadow: inset 0 1.5px 4px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.05);
		outline: 0;
	}
}
.btn.btn-primary {
	color: #fff;
	background-color: #4ABA58;

	&:focus{
		background-color: #4aba58;
		box-shadow: 0 0 0 2px rgba(74,186,88, .5);
		outline: 0;
	}
	&:hover{
		background-color: rgba(74,186,88, .8);
		border: 1px solid transparent;
	}
	&:active{
		background-color: #e6e6e6;
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	}
}

.btn.btn-secondary{
	color: #fff;
	background-color: #4983bb;
}

.btn.btn-default{
	color: $color-font-default;
	background-color: $color-bg;
	border-color: $color-border-default;
}

/*********/

.new-vehicle{
	min-width: 140px;
}
